@charset "UTF-8";
/* CSS Document */
body {	margin: 0; }

    .bkg_1 {
        background-image: url(../images/background.png);
        width: 1487px;
        height: 1025px;
        float: left;
        margin-left: 216px;
    }

    #logo {
        float: left;
        margin-left: -215px;
    }
    
    .middle_nav {
        margin-left: 485px;
    }

    .link {
        color: white;
        font-family: "Inter", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        float: left;
        height: 24px;
        margin-top: 45px;
        margin-left: 100px;
        text-decoration: none;
    }

        .link:hover {
            color: #586771;
        }

    .quote {
        color: #FFF;
        text-align: right;
        font-family: Forum;
        font-size: 60px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        float: left;
        width: 374px;
        margin-left: 930px;
        margin-top: 420px;
        }

            .heading {
                float: left;
                color: var(--Color, #586771);
                font-family: Forum;
                font-size: 48px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                width: 819px;
                height: 53px;
                margin-top: 177px;
                margin-left: 216px;
            }

            .Blue {
                color: var(--Color-2, #C0DEF5);
                font-family: Forum;
                font-size: 48px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

                .hpara {
                    width: 819px;
                    height: 422px;
                    color: #586771;
                    font-family: Inter;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    float: left;
                    margin-top: 69px;
                    margin-left: 216px;
                }

                .headerphoto {
                    width: 431px;
                    height: 557px;
                    float: left;
                    margin-left: 1147px;
                    margin-top: -500px;
                }

                .heading2 {
                    color: var(--Color, #586771);
                    font-family: Forum;
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 400;
                    width: 819px;
                    float: left;
                    height: 53px;
                    margin-left: 216px;
                    margin-top: 131px;
                }

                .para2 {
                    color: #586771;
                    font-family: Inter;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    margin-left: 216px;
                    width: 819px;
                    height: 576px;
                    float: left;
                    margin-top: 70px;
                }

                .headerphoto2 {
                    width: 554px;
                    height: 701px;
                    float: left;
                    margin-left: 1097px;
                    margin-top: -500px;
                }

                .heading3 {
                    color: var(--Color, #586771);
                    font-family: Forum;
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 400;
                    float: left;
                    width: 819px;
                    height: 53px;
                    margin-top: 131px;
                    margin-left: 216px;
                }

                .para3 {
                    width: 636px;
                    height: 383px;
                    color: #586771;
                    font-family: Inter;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    margin-left: 216px;
                    margin-top: 70px;
                    float: left;
                }

                .para4 {
                    width: 636px;
                    height: 268px;
                    color: #586771;
                    text-align: right;
                    font-family: Inter;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    float: left;
                    margin-top: -235px;
                    margin-left: 800px;
                 }

        h2 {
            color: #586771;
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            height: 24px;
            float: left;
            margin-left: 100px;
         }

         .footer {
            background-image: url(../images/footer.png);
            float: left;
            width: 1703px;
            height: 331px;
            margin-top: 117px;
         }

        .info {
            margin-left: 685px;
            margin-top: -270px;
            float: left;
            height: 24px;
         }

        .logo2 {
            width: 375px;
            height: 380px;
            float: left;
            margin-top: -400px;
        }

        .line {
            float: left;
            margin-left: 92px;
            margin-top: -105px;
        }

        .rights {
            color: #586771;
            font-family: Inter;
            font-size: 11px;
            font-style: normal;
            font-weight: 400;
            width: 179px;
            height: 25px;
            float: left;
            margin-left: 1452px;
            margin-top: -58px;
        }

                .bkg_2 {
                    background-image: url(../images/proj_bkg.png);
                    width: 1487px;
                    height: 1025px;
                    float: left;
                    margin-left: 216px;
                }

                .head {
                    color: #FFF;
                    text-align: center;
                    font-family: Inter;
                    font-size: 128px;
                    font-style: normal;
                    font-weight: 500;
                    float: left;
                    margin-top: -590px;
                    margin-left: 659px;
                }

                .sentence {
                    width: 1128px;
                    height: 52px;
                    color: #000;
                    font-family: Forum;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 400;
                    float: left;
                    margin-top: 91px;
                    margin-left: 366px;
                }
                #projects {
                    clear: both;
                    float: left;
                }
                .bw_culture {
                    background-image: url(../images/culture/b&wculture.png);
                    width: 340px;
                    height: 480px;
                    float: left;
                }
                    .culture {
                        color: var(--Color-3, #363B3F);
                        font-family: Inter;
                        font-size: 40px;
                        font-style: normal;
                        font-weight: 400;
                        float: left;
                        width: 340px;
                        height: 480px;
                        text-decoration: none;
                    }

                    .bw_culture:hover {
                        background-image: url(../images/culture/culture.png);
                        color: var(--Color-2, #C0DEF5);
                        font-family: Inter;
                        font-size: 40px;
                        font-style: normal;
                        font-weight: 400;
                    }
                
                .bw_publicspace {
                    background-image: url(../images/publicspace/B&Wpublicspace.png);
                    width: 340px;
                    height: 480px;
                    float: left;
                }
                .publicspace {
                    color: var(--Color-3, #363B3F);
                    font-family: Inter;
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 400;
                    float: left;
                    text-decoration: none;
                    width: 340px;
                    height: 480px;
                }

                .bw_education {
                    background-image: url(../images/education/B&Weducation1.png);
                    width: 340px;
                    height: 480px;
                    float: left;
                }
                .education {
                    color: var(--Color-3, #363B3F);
                    font-family: Inter;
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 400;
                    float: left;
                    text-decoration: none;
                    width: 340px;
                    height: 480px;
                }




    .bkg_3 {
        background-image: url(../images/culture/cultureheader.png);
        width: 1487px;
        height: 475px;
        float: left;
        margin-left: 216px;
    }

    .headerc {
        width: 513px;
        height: 106px;
        float: left;
        color: #FFF;
        text-align: center;
        font-family: Inter;
        font-size: 96px;
        font-style: normal;
        font-weight: 500;
        margin-left: 216px;
        margin-top: -185px;
    }

    .back {
        float: left;
        width: 111px;
        height: 20px;
        color: #FFF;
        font-family: Forum;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        margin-top: -65px;
        margin-left: 295px;
     }


    
        .one {
            background-image: url(../images/culture/one.png);
            width: 653px;
            height: 539px;
            margin-top: 10px;
            margin-left: 216px;
            float: left;
        }
            .one:hover {
                opacity: 0.5;
            }
        .two {
            background-image: url(../images/culture/two.png);
            width: 810px;
            height: 539px;
            float: left;
            margin-top: 10px;
            margin-left: 11px;
        }
            .two:hover {
                opacity: 0.5;
            }
        .three {
            background-image: url(../images/culture/three.png);
            width: 872px;
            height: 414px;
            float: left;
            margin-top: 10px;
            margin-left: 216px;
        }
        .four {
            background-image: url(../images/culture/four.png);
            width: 575px;
            height: 687px;
            float: left;
            margin-top: 10px;
            margin-left: 10px;
        }
        .five {
            background-image: url(../images/culture/five.png);
            width: 873px;
            height: 487px;
            float: left;
            margin-top: -263px;
            margin-left: 216px;
        }
        .six {
            background-image: url(../images/culture/six.png);
            height: 526px;
            width: 589px;
            float: left;
            margin-top: 10px;
            margin-left: 10px;
        }
        .seven {
            background-image: url(../images/culture/seven.png);
            height: 706px;
            width: 471px;
            float: left;
            margin-top: -302px;
            margin-left: 216px;
        }
        .eight {
            background-image: url(../images/culture/eight.png);
            height: 301px;
            width: 391px;
            float: left;
            margin-top: -302px;
            margin-left: 11px;
        }
        .nine {
            background-image: url(../images/culture/nine.png);
            height: 394px;
            width: 981px;
            float: left;
            margin-top: 10px;
            margin-left: 10px;
        }

        
.footer3 {
            background-image: url(../images/footer.png);
            float: left;
            width: 1703px;
            height: 331px;
            margin-top: 10px;
         }

        .info {
            margin-left: 685px;
            margin-top: -270px;
            float: left;
            height: 24px;
         }

        .logo2 {
            width: 375px;
            height: 380px;
            float: left;
            margin-top: -400px;
        }

        .line {
            float: left;
            margin-left: 92px;
            margin-top: -105px;
        }

        .rights {
            color: #586771;
            font-family: Inter;
            font-size: 11px;
            font-style: normal;
            font-weight: 400;
            width: 179px;
            height: 25px;
            float: left;
            margin-left: 1452px;
            margin-top: -58px;
        }

.bkg_4 {
    background-image: url(../images/culture/bkg4.png);
    height: 475px;
    width: 1486px;
    float: left;
    margin-left: 216px;
}

.link2 {
    float: left;
    height: 24px;
    margin-top: 45px;
    margin-left: 100px;
    text-decoration: none;
    color: var(--Color, #586771);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    height: 24px;
}
    .link2:hover {
        color: var(--Color-2, #C0DEF5);
    }

    .heading {
        width: 634px;
        height: 107px;
        color: var(--Color, #586771);
        font-family: Inter;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        float: left;
        margin-top: -201px;
        margin-left: 255px;
    }
        .subheading {
            color: var(--Color, #586771);
            font-family: Inter;
            font-size: 32px;
            font-style: normal;
            font-weight: 200;
            line-height: normal;
            float: left;
            margin-top: -145px;
            margin-left: 258px;
        }
        .back2 {
            width: 111px;
            height: 20px;
            float: left;
            color: var(--Color, #586771);
            font-family: Forum;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            margin-top: -90px;
            margin-left: 290px;
        }
            .intro {
                width: 515px;
                height: 426px;
                float: left;
                margin-left: 216px;
                margin-top: 86px;
                color: #000;
                font-family: Forum;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
            .text1 {
                width: 515px;
                float: left;
                color: #000;
                font-family: Forum;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-top: 190px;
                margin-left: -515px;
             }
        .photo1 {
            background-image: url(../images/culture/photoc1.png);
            width: 795px;
            height: 446px;
            margin-top: -445px;
            margin-left: 818px;
            float: left;
        }
        .photo2 {
            background-image: url(../images/culture/phototwo.png);
            height: 352px;
            width: 611px;
            float: left;
            margin-left: 220px;
            margin-top: 160px;
        }
        .photo3 {
            background-image: url(../images/culture/photothree.png);
            height: 349px;
            width: 611px;
            float: left;
            margin-left: -611px;
            margin-top: 588px;
        }
        .photo4 {
            background-image: url(../images/culture/photofour.png);
            height: 349px;
            width: 611px;
            float: left;
            margin-top: 1010px;
            margin-left: -611px;
        }
        .text2 {
            width: 707px;
            float: left;
            color: #000;
            font-family: Forum;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-top: 158px;
            margin-left: 65px;
        }

        .table1 {
            background-image: url(../images/culture/table10.png);
            height: 200px;
            width: 1028px;
            float: left;
            margin-left: 338px;
            margin-top: 172px;
        }
        .table2 {
            background-image: url(../images/culture/table11.png);
            height: 527px;
            width: 1624px;
            float: left;
            margin-left: 40px;
            margin-top: 31px;
        }
.footer4 {
            background-image: url(../images/footer.png);
            float: left;
            width: 1703px;
            height: 331px;
            margin-top: 10px;
         }

        .info {
            margin-left: 685px;
            margin-top: -270px;
            float: left;
            height: 24px;
         }

        .logo2 {
            width: 375px;
            height: 380px;
            float: left;
            margin-top: -400px;
        }

        .line {
            float: left;
            margin-left: 92px;
            margin-top: -105px;
        }

        .rights {
            color: #586771;
            font-family: Inter;
            font-size: 11px;
            font-style: normal;
            font-weight: 400;
            width: 179px;
            height: 25px;
            float: left;
            margin-left: 1452px;
            margin-top: -58px;
        }

.bkg_5 {
    background-image: url(../images/culture/bkg4.png);
    height: 475px;
    width: 1486px;
    float: left;
    margin-left: 216px;
}
    .heading2 {
        width: 818px;
        height: 107px;
        color: var(--Color, #586771);
        font-family: Inter;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        float: left;
        margin-top: -201px;
        margin-left: 255px;
    }
        .subheading2 {
            color: var(--Color, #586771);
            font-family: Inter;
            font-size: 32px;
            font-style: normal;
            font-weight: 200;
            line-height: normal;
            float: left;
            margin-top: -145px;
            margin-left: 258px;
        }
        .back3 {
            width: 111px;
            height: 20px;
            float: left;
            color: var(--Color, #586771);
            font-family: Forum;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            margin-top: -90px;
            margin-left: 290px;
        }
        .intro2 {
            margin-left: 216px;
            margin-top: 128px;
            float: left;
            width: 777px;
            color: #000;
            font-family: Forum;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        .aud {
            background-image: url(../images/culture/sing.png);
            width: 533px;
            height: 607px;
            float: left;
            margin-top: 128px;
            margin-left: 69px;
        }
        .grass {
            background-image: url(../images/culture/grass.png);
            height: 386px;
            width: 754px;
            float: left;
            margin-top: 91px;
            margin-left: 216px;
        }
        .dance {
            background-image: url(../images/culture/dance.png);
            height: 385px;
            width: 755px;
            float: left;
            margin-left: 216px;
            margin-top: 31px;
        }
        .weird {
            background-image: url(../images/culture/weird.png);
            height: 802px;
            width: 533px;
            float: left;
            margin-top: -386px;
            margin-left: 91px;
        }
        .anotherone {
            background-image: url(../images/culture/table57.png);
            height: 309px;
            width: 1159px;
            float: left;
            margin-top: 121px;
            margin-left: 272px;
        }

.footer5 {
            background-image: url(../images/footer.png);
            float: left;
            width: 1703px;
            height: 331px;
            margin-top: 135px;
         }

        .info {
            margin-left: 685px;
            margin-top: -270px;
            float: left;
            height: 24px;
         }

        .logo2 {
            width: 375px;
            height: 380px;
            float: left;
            margin-top: -400px;
        }

        .line {
            float: left;
            margin-left: 92px;
            margin-top: -105px;
        }

        .rights {
            color: #586771;
            font-family: Inter;
            font-size: 11px;
            font-style: normal;
            font-weight: 400;
            width: 179px;
            height: 25px;
            float: left;
            margin-left: 1452px;
            margin-top: -58px;
        }